<br />
<h2>Edit Observation</h2>

<%= render 'form', observation: @observation %>
<br />
<%= link_to 'Show', @observation, class:"btn btn-warning btn-sm me-3" %> 
<%= link_to 'Back', observations_path, class:"btn btn-warning btn-sm me-3" %>
<%= link_to 'Delete', @observation, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn-sm" %>